/* Agrega este estilo a tu archivo CSS */
.line {
    height: 100px;
    /* Ajusta la altura según sea necesario */
    background-size: cover;
    background-position: center;
}

.line.large {
    height: 200px;
    /* Ajusta la altura según sea necesario */
}

/* Luego, elimina los estilos inline de tu código HTML */